@using shop.ViewModels
@model CheckoutViewModel

<div class="container">
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Your cart</span>
                <span class="badge bg-primary rounded-pill">@Model.GamesAndQuantities.Sum(g => g.Quantity)</span>
            </h4>
            <ul class="list-group mb-3">
                @{
                    decimal totalPrice = 0;
                    foreach (var item in Model.GamesAndQuantities)
                    {
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">@item.Game.Name</h6>
                                <small class="text-muted">@item.Game.Description</small>
                            </div>
                            <span class="text-muted">@item.Game.Price</span>
                        </li>
                        totalPrice += item.Game.Price * item.Quantity;
                    }
                }
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total</span>
                    <strong>$@totalPrice</strong>
                </li>
            </ul>

            <!--<form asp-action="PromoCode" class="card p-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group">
                    <input asp-for="PromoCode" type="text" class="form-control" placeholder="Promo code" />
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
            </form>-->
        </div>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Billing address</h4>
            <form asp-controller="Checkout" asp-action="Index">
                @{
                    var i = 0;
                }

                @foreach (var item in Model.GamesAndQuantities)
                {
                    <input type="hidden" name="GamesAndQuantities[@i].Game.Id" value="@item.Game.Id" />
                    <input type="hidden" name="GamesAndQuantities[@i].Quantity" value="@item.Quantity" />
                    i++;
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="First name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" placeholder="Last name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" placeholder="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" placeholder="you@example.com" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" placeholder="1234 Main St" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label asp-for="Address2" class="control-label"></label>
                        <input asp-for="Address2" class="form-control" placeholder="Apartment or suite" />
                    </div>

                    <div class="col-md-5">
                        <label asp-for="Country" class="control-label"></label>
                        <select asp-for="Country" class="form-select"/>
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="State" class="control-label"></label>
                        <select asp-for="State" class="form-select"/>
                            <option value="">Choose...</option>
                            <option>California</option>
                        </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="Zip" class="control-label"></label>
                        <input asp-for="Zip" class="form-control"/>
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>
                </div>

                <hr class="my-4">

                <div class="form-check">
                    <input asp-for="SameAddress" class="form-check-input">
                    <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>

                <div class="form-check">
                    <input asp-for="SaveInfo" class="form-check-input">
                    <label class="form-check-label" for="save-info">Save this information for next time</label>
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Payment</h4>

                <div class="my-3">
                    <div class="form-check">
                        <input asp-for="PaymentMethod" class="form-check-input" type="radio" value="Credit card" checked>
                        <label asp-for="PaymentMethod"  class="form-check-label">Credit card</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="PaymentMethod" class="form-check-input" type="radio" value="Debit card">
                        <label asp-for="PaymentMethod" class="form-check-label">Debit card</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="PaymentMethod" class="form-check-input" type="radio" value="PayPal">
                        <label asp-for="PaymentMethod" class="form-check-label">PayPal</label>
                    </div>
                </div>

                <div class="row gy-3">
                    <div class="col-md-6">
                        <label asp-for="CCName" class="control-label"></label>
                        <input asp-for="CCName" class="form-control">
                        <span asp-validation-for="CCName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="CCNumber" class="control-label"></label>
                        <input asp-for="CCNumber" class="form-control">
                        <span asp-validation-for="CCNumber" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="CCExpiration" class="control-label"></label>
                        <input asp-for="CCExpiration" class="form-control">
                        <span asp-validation-for="CCExpiration" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="CCCVV" class="control-label"></label>
                        <input asp-for="CCCVV" class="form-control">
                        <span asp-validation-for="CCCVV" class="text-danger"></span>
                    </div>
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg mb-5" type="submit">Continue to checkout</button>
            </form>
        </div>
    </div>
</div>